@import "styled";
@import 'variables';

.App {
  text-align: left;
  font-size : 14px;
  overflow  : hidden;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

.bg-dk-blue {
  background-color: $color-blue-400
}

.text-red {
  color: $color-red-200;
}

.text-blue {
  color: #45c0f8;
}

.bg-red{
 background-color: $color-red-200;
}
.bg-f4 {
  background-color: $color-white-200;
}

.bg-f0f2f5 {
  background-color: $color-white-300
}

.text-62 {
  color: $color-gray-400;
}

.bg-blue {
  background-color: $color-blue-100;
}

@media screen and (min-width: 992px) {
  .font-36 {
    font-size: 36px;
  }

  .font-30 {
    font-size: 30px;
  }

  .font-26 {
    font-size: 26px;
  }

  .font-20 {
    font-size: 20px;
  }

  .font-18 {
    font-size: 18px;
  }

  .font-16 {
    font-size: 16px;
  }

  .font-12 {
    font-size: 12px;
  }
}

@media screen and (max-width: 991px) {
  .font-36 {
    font-size: 28px;
  }

  .font-30 {
    font-size: 26px;
  }

  .font-26 {
    font-size: 22px;
  }

  .font-20 {
    font-size: 18px;
  }

  .font-18 {
    font-size: 16px;
  }

  .font-16 {
    font-size: 14px;
  }

  .font-12 {
    font-size: 12px;
  }
}

.thought21 .text {
  line-height: 3em;
}