@media screen and (max-width: 991px) {
  .class {
    max-height: 200px;
    margin-top: 20px;
    overflow  : hidden;
  }

  .bn1,
  .bn2,
  .bn3,
  .bn4,
  .bn5,
  .text,
  .group-number2 {
    max-height: 200px;
    overflow  : hidden;
  }

  .group-content-img {
    display: flex;

  }
}

@media screen and (min-width: 992px) {
  .group-content-img {
    display: none;
  }

  .group-dropdown {
    position: absolute;
  }
}

.register-btn {
  border-radius: calc(1.5em + .75rem + 2px);
  border       : 0px
}



.group-video {
  background-color: #f0f2f5;

  .title {
    font-size: 2em;
  }

  button {
    display         : inline;
    margin          : 8px 0px;
    border          : none;
    background-color: #45c0f8;
    padding         : 0.6em 0.8em;
    border-radius   : 15px;
    color           : #fff;
  }
}

.address-group {
  max-height: 100vh;
  overflow-y: auto;
}

.necessarySkill img {
  max-width: 60vw;
}

.necessarySkill .infoClipboard1 {
  max-width: 40vw;
  bottom   : 0;
  right    : 0;
}

.necessarySkill .infoClipboard2 {
  max-width: 35vw;
  bottom   : -50%;
  right    : 20vw;
}

.necessarySkill .infoClipboard3 {
  max-width: 35vw;
  bottom   : 50%;
  left     : 20vw;
}

.necessarySkill .infoClipboard4 {
  max-width: 35vw;
  bottom   : 30%;
  right    : 0vw;
}

.necessarySkill .infoClipboard5 {
  max-width: 35vw;
  bottom   : 30%;
  left     : 0vw;
}

.method2 {
  margin-top: 200px;
}

section.program {
  .pathway {
    font-size: 2em;
  }

  div.program_title {
    font-size: 2em;
  }

  div.program_content {}

  div.group-image {}

  .class:hover .group-content-img {
    display           : flex;
    transition        : all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
  }

  div.link {
    margin       : 6px 0px;
    border       : 2px solid #fff;
    border-radius: 15px;
  }

  div.group-content-img {
    $width          : 30px;
    top             : 0;
    color           : #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width           : Calc(100% - #{30px});
    height          : 100%;

    div.img-title {
      font-size     : 1.3em;
      text-transform: uppercase;
      font-weight   : bold;
      margin        : 8px 0px;
    }

    div.img-content {
      margin: 10px 0px;
    }



    button.img-button {
      display         : inline;
      margin          : 8px 0px;
      border          : none;
      background-color: #45c0f8;
      padding         : 0.6em 0.8em;
      border-radius   : 15px;
      text-transform  : uppercase;
      font-weight     : bold;
      color           : #fff;
    }
  }
}

.footer-schedule {
  height          : 500px;
  background-color: #FFF
}

.address {
  max-width: 500px;
}

.BYOD .bn1 {
  top      : 100px;
  left     : 100px;
  max-width: 550px;
}

.bn1 {
  background-color: #4bbadc;
}

.bn2 {
  background-color: #f08a8f;
}

.bn3 {
  background-color: #f2c152;
}

.bn4 {
  background-color: #61b46b;
}

.bn5 {
  background-color: #c26236;
}

.bn6 {
  background-color: #9862b7;
}

.group-number {
  //background-image: url('../public/pictures/media_149268683648236.jpg');

  color: #fff;

  section.number {
    background-color: #00000080;

    .bg-number {
      padding-top: 100%;
    }



    div.number_title {
      font-size: 1.5em;
    }

    div.number_content {
      font-size: 1.2em;
    }

    .text {
      top        : 0%;
      width      : 100%;
      height     : 100%;
      font-weight: bold;
    }

    div.number {}

    div.content {}
  }
}

div.group-news {
  background-color: #f0f2f5;

  section.news {
    div.main-title {
      font-size: 1.8em;
    }

    div.group-img {
      background-color: #fff;

      img.w-100 {
        height: 182px;
      }

      div.title {
        color    : #45c0f8;
        font-size: 1.2em;
      }

      div.date {}

      div.content {}

      div.link {
        color    : #45c0f8;
        font-size: 1.2em;
      }
    }
  }
}

.login-parent button {
  background-color: #ececec;
  border          : none;
  border-radius   : 3px;
}

.login-parent .text {
  max-width: 300px;
}

.login-student {
  background-size: 100% 100%;
}

.login-student .login {
  background-color: #ffffffcc
}

.login-student .logo img {
  max-width: 100px;
}

.login-student .form-control {
  min-width       : 280px;
  border          : 2px solid #c60c30;
  border-radius   : calc(1.5em + .75rem + 2px);
  background-color: transparent;
}

.login-student button,
.login-student .potentialidp a {
  color           : #fff;
  background-color: #0655a3;
  border-color    : #0655a3;
  border-radius   : 45px;
  padding         : .65rem !important;
  display         : block;
  width           : 100%;
}

.drop-down-cover {
  width  : 250px;
  left   : -60%;
  display: none;
}

.group-tab2:hover {
  .drop-down-cover {
    display: block;
  }
}

div.drop-down {
  max-width: 250px;

  .drop-down__cover {
    background-color: white;
    padding         : 1rem;
    max-width       : 250px;

    li {
      padding        : 10px;
      list-style-type: none;
      max-width      : 250px;
      cursor         : pointer;
    }

    li:hover {
      color: #45c0f8
    }
  }
}

div.group-footer {
  background-color: #2f2f2f;
  color           : #fff;
  font-weight     : bold;

  section.footer {
    div.info {
      img {}
    }

    div.info-title {}

    div.info {}

    div.info {
      img {}
    }

    .copyright {
      font-size: 1.2em;
    }

    .media {
      font-size: 1.5em;
    }
  }
}

.group-navTab {
  top    : 0;
  z-index: 1;
}

section.header {


  img {}

  div.group-tab {
    div.tab {
      color: #fff;
    }

    div.language {}

    div.contact {
      div {
        color           : #fff;
        background-color: #45c0f8;
        border-radius   : 50px;
      }
    }

    div.navTab {
      span {}
    }
  }

  div.carousel {
    background-color: #000;

    img {
      opacity: 0.5;
    }
  }

  div.title {}

  div.group-dropdown {
    div.dropdown_title {}

    div.dropdown_content {
      div {}

      div.dropdown {
        button {
          width: 150px;

          :after {}
        }
      }

      button.info {
        border       : none;
        border-radius: 20px;
        padding-left : 0.4em;
        padding-right: 0.4em;
        font-size    : 0.7em;
        color        : #45c0f8;
      }
    }
  }

  .img {
    background-color: #f0f2f5;
  }
}

.fadeInDown {
  animation: fadeInDown 0.8s ease-in both;
}

@keyframes fadeInDown {
  from {
    -webkit-transform: translate3d(0, -70%, 0);
    transform        : translate3d(0, -70%, 0);
  }

  to {
    -webkit-transform: none;
    transform        : none;
  }
}

// @import "compass/css3";

/* Variables */
$width : 15em; // dropdown width
$height: 2.5em; // dropdown height
$ajust : 1em; // left & right padding in dropdown menu
$radius: 3px;

/* Colors */
$black    : #4d4d4d;
$grey     : #ecf0f1;
$dark-grey: #bdc3c7;
$green    : #45C0F8;


/* Common style */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color      : $black;
}


/* Dropdown style */
.dropdown {
  // min-width   : $width;
  // width    : 100%;
  margin: 0 auto;

  margin-bottom: 1em; // Cosmetic value

  dl {
    white-space: nowrap;
  }

  dt {
    a {
      display: block;
      height : $height;
      width  : 100%;

      border         : 1px solid $grey;
      border-radius  : $radius;
      text-decoration: none;

      &:hover,
      &:active {
        border-color: $dark-grey;
      }
    }

    span {
      display: block;
      padding: 0 $ajust;

      line-height : $height;
      background  : url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHo+AACAQQAA+MoAAIC0AAB48QAA9RwAADw3AAAbzhlfIT4AAACJSURBVHjajNAxCsJAEEbhb5cU4i0sbHIaL6IQTxFPo4VeROwXQs4gKW1cWJZEM90wj5l5f0jDeMXBunqENIw7vLD9A09oIxL6FdsvSCENI2zwxH4BTmgxxeJc92P76cuIpRBuc6K45yZWwzPeleixBOLMr30tWgJZuqwcQJNFy2GzkHeHUMPwGQChFSPmzlJ1WgAAAABJRU5ErkJggg==) no-repeat scroll right center;
      border-right: $ajust solid transparent;
      cursor      : pointer;
    }
  }

  dd {
    position: relative;

    ul {
      z-index      : 1;
      display      : none;
      position     : absolute;
      left         : 0;
      top          : -$height;
      width        : 100%;
      padding      : 0;
      list-style   : none;
      background   : #fff none repeat scroll 0 0;
      border       : 1px solid $dark-grey;
      border-radius: $radius;

      li:first-child a:hover {
        border-radius: $radius $radius 0 0;
      }

      li:last-child a:hover {
        border-radius: 0 0 $radius $radius;
      }
    }

    li a {
      display           : block;
      padding           : 0 $ajust;
      // white-space    : nowrap;
      line-height       : $height;
      text-decoration   : none;

      &:hover {
        background-color: #fff;
        color           : $green !important;
        cursor          : pointer;
      }
    }
  }
}

.selected {
  font-weight: 700;
}

.career thead {
  background-color: #325bbd;
  color           : #fff;
}

.career tbody {
  border          : 2px solid #e4e4e4;
  background-color: #fff;
}

.career thead th {
  padding: 0.8em
}

.career tbody td {
  padding: 0.8em
}

.career tbody a {
  color         : #45c0f8;
  font-weight   : bold;
  text-transform: uppercase;
}

.link2 {
  border       : 3px solid #45c0f8;
  border-radius: calc(1.5em + .75rem + 2px);
}