
$color-blue-100: #45c0f8;
$color-blue-200: #4bbadc;
$color-blue-300: #0655a3;
$color-blue-400: #293593;
$color-red-100: #f08a8f;
$color-red-200: #CE153F;
$color-red-300: #c60c30;
$color-white-100: #FFFFFF;
$color-white-200: #F4F4F4;
$color-white-300: #F0F2F5;
$color-white-400: #ecf0f1;
$color-gray-100: #ececec;
$color-gray-200: #ffffffcc;
$color-gray-300: #bdc3c7;
$color-gray-400: #626262;
$color-gray-500: #4d4d4d;
$color-gray-600: #2f2f2f;
$color-dark-100: #00000080;
$color-dark-200: #000000;
$color-yellow-100: #f2c152;
$color-green-100: #61b46b;
$color-orange-100: #c26236;
$color-purple-100: #9862b7;

$width : 15em; 
$height: 2.5em;
$ajust : 1em;
$radius: 3px;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
$screen-xxxl: 1920px;

